<header class="text-center mb-60 mt-40">
   <br/>
   <h2>Your Columns</h2>
   <hr />
</header>

<div class="container">
  <table id="tableCol" class="table table-stripped">
    <thead class="bg-primary">
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Battery ID</th>
          <th scope="col">Column Type</th>
          <th scope="col">Column Status</th>
          <th scope="col">Number of Floors Served</th>
          <th scope="col">Information</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody id="columnsData">    
    
       </tbody>

  </table>
</div>



<script src="~/js/ajax-calls.js"></script>