<header class="text-center mb-60 mt-40">
   <br/>
   <h2>Your Columns</h2>
   <hr />
</header>

<div class="container">
  <table id="table" class="table table-stripped">
    <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody id="columnData">    
    
       </tbody>

  </table>
</div>



<script src="~/js/ajax-calls.js"></script>