<header class="text-center mb-60 mt-40">
   <br/>
   <h2>Your Company Information</h2>
   <hr />
</header>

            

<div class="container">
    <div class="main-body">
         <!--Avatar Section-->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Customer ID</p>
                    </div>
                  </div>
                </div>
              </div>
              <!--Customer's Total Number Of Products Section-->
              
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Number of Batteries</h6>
                    <span class="text-secondary" id="total-bat"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Number of Columns</h6>
                    <span class="text-secondary" id="total-col"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Number of Elevators</h6>
                    <span class="text-secondary" id="total-elev"></span>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--Company Information Section-->
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Company Contact Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                       <input type="text" name="txt" id="company_contact_name" value="" onchange="getNameValue()" readonly>  
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Company Contact Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="txt" id="company_contact_phone" value="" onchange="getInfoValues(this.value)" readonly> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Company Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="txt" id="company_desc" value="" onchange="getInfoValues(this.value)" readonly>   
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Technical Authority Phone Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="txt" id="company_tech_phone" value="" onchange="getInfoValues(this.value)" readonly> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Technical Manager Email Service</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" name="txt" id="tech_manager_mail" value="" onchange="getInfoValues(this.value)" readonly>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-danger float-right" id="save-info-btn">Save</button>
              <button type="button" class="btn btn-danger float-left" id="edit-info-btn">Edit Information</button>
              <br/>
              <br/>
              
              
              <!--ADDRESSES SECTION-->
              <h2>Your Adresses</h2>
               <div class="container">
                 <table id="tableAddr" class="table table-stripped">
                   <thead class="bg-primary">
                     <tr>
                         <th scope="col">ID</th>
                         <th scope="col">Type of Address</th>
                         <th scope="col">Number and Street</th>
                         <th scope="col">Suite or Apartment</th>
                         <th scope="col">City</th>
                         <th scope="col">State</th>
                         <th scope="col">Postal Code</th>
                         <th scope="col">Country</th>
                     </tr>
                   </thead>
                   <tbody id="addressesData">    
    
                   </tbody>

                  </table>
                  <button type="button" class="btn btn-danger float-right" id="save-adrs-btn">Save</button>
                  <button type="button" class="btn btn-danger float-left" id="edit-adrs-btn">Edit Information</button>
               </div>
            </div>
            
      </div>
   </div>
</div>


<script src="~/js/profile-page.js"></script>
<script src="~/js/ajax-calls.js"></script>

              
              