@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Customers Portal</h1>
</div>

<div class="text-center">
  <img src='~/images/Logo-rocket.png'>
</div>
