@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Welcome To The Customers Portal</h1>
</div>

<div class="text-center">
  <img src='~/images/Logo-rocket.png'>
</div>
<br/>
<!--Time from worldtime API-->
<div class="container">
  <p>Current time: <span id="date1"></span></p>
  <p>Timezone: <span id="date2"></span></p>
  <p>Your IP: <span id="date3"></span></p>
</div>

<br/>
<br/>
<div class="container">
  <h2>Our Best Projects</h2>
</div>

<div class="container mb-8">
 <div class="row">
  <div class="col">
   <img src="https://picsum.photos/id/1029/400/400">
  </div>
  <div class="col">
   <img src="https://picsum.photos/id/1031/400/400">
 </div>
</div>


<script src="~/js/ajax-calls.js"></script>